@page
@model herenciayrelacionesgui.Pages.Vehiculos.UpdateVehiculoModel
@{
}


<div class="text-center">
    <h1 class="display-4" style="font-size: 40px">Modificar vehículo</h1>
    <form method="post">
        <div class="form-group">
            <label for="matricula">Matricula:</label>
            <input type="text" class="form-control" id="matricula" readonly value="@Model.v.Matricula" name="matricula">
        </div>
        <div class="form-group">
            <label for="preciomercado">Precio mercado:</label>
            <input type="text" class="form-control" id="preciomercado" value="@Model.v.PrecioMercado" name="preciomercado">
        </div>
        <div class="form-group">
            <label>
                <input type="radio" name="tipo_vehiculo" value="automovil" @(Model.v.GetType().Name.Equals("Automovil") ? "checked" : "")>
                Automovil
            </label>
            <label>
                <input type="radio" name="tipo_vehiculo" value="motocicleta" @(Model.v.GetType().Name.Equals("Motocicleta") ? "checked" : "")>
                Motocicleta
            </label>
        </div>
        <button type="submit" class="btn btn-primary" asp-page-handler="UpdateVehiculo">Modificar Vehiculo</button>
    </form>

</div>